body{
  background-color: #10505e;
  overflow-x: hidden;
}

.about-title{
font-size:50em;
color:#8c0c60;
display:block;
}

.btn1{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  padding: 7px 20px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  background-color: #10505E;
  margin-top: 18px;
}

.btn1:hover{
  background-color: #0794c9;
  color: #ffffff;
}
.btn-style-one{
  position: relative;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  padding: 7px 20px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  background-color: #10505E;
}

.btn-style-one:hover{
  background-color: #0794c9;
  color: #ffffff;
}

.about-title:before{
  font-weight: 600;
/* content:" ";
font-family:"FontAwesome"; */
font-size:30px;
}

a{
text-decoration:none;
}

.section2{
width:100%;
margin:5% 0%;
margin-left:auto;
margin-right:auto;
}

.section2 .about-table,.section3 .about-table{
width:100%;
background-color: #cefbf5;
}

.section2 .about-table td,.section3 .about-table td{
width:50%;
}

.section2 .about-table td img,.section3 .about-table td img{
width:80%;
height:70%;
margin-left:auto;
margin-right:auto;
box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
}

.section3 .about-table td img{
float:right;
}


@media (max-width:720px){
.section2 .about-table td, .section3 .about-table td{
width:100%;
display:block;
}
.section3 .about-table td img{
float:none;
margin-top:4%;
}
.section2 .about-table td img,.section3 .about-table td img{
width:100%;
height:60%;
}
}

@media (max-width:300px){
.section2,.section3{
font-size:12px;
}
.about-table h2{
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  font-size: 5%;
}
.btn1{
  justify-content: center;
  display: flex;
}
.section3 .about-table td img{

float:none;
margin-top:8%;
}
.btn1,.btn2{
padding:5px 10px;
}
}