/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } */
.responsive-image {
  position: relative;
  top: -100px;
  width: 100%;
  height: auto;
}
@media (max-width: 699.9px) {
  .responsive-image {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 570px) {
  .carousel-caption {
    top: 100px;
  }
}
