/* Form */
.form {
  margin: 0;
  display: grid;
  /* min-height: 100vh; */
  width: 90%;
  margin: 0 auto;
  border-radius: 0.35rem;
  /* padding: 1.5rem; */
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/* 2divs */
.div-price {
  height: 5%;
  float: right;
  padding: 0px 10px;
  width: 50%;
  font-size: 0.5rem;
  display: contents;
}

/* please edit */
.cart-discount {
  display: none;
}
.div-price .p-price {
  color: #10505e;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
  /* margin-left: 78px; */
}
.div-sell {
  height: 5%;
  width: 60%;
  float: left;
  text-align: start;
  font-size: 16px;
  margin-bottom: 5px;
}
/* end 2 div */
/* Button */
/* btn */
/* .sp */
.incart {
  width: 30px;
  height: 20px;
  font-size: 0.9rem;
  /* margin: 0 10px; */
  /* padding: 10px; */
  justify-content: center;
  align-items: center;
}

/* address dropdown */
.form-select option {
  color: #909090;
}

/* quantity button-products page */
/* .sp */

.minus {
  color: #fff;
  align-content: center;
  font-size: 13px;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  background: #28aac7;
  border: 1px #28aac7;
}
.plus {
  color: #fff;
  align-content: center;
  font-size: 13px;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  background: #28aac7;
  border: 1px #28aac7;
}
.incart {
  text-align: center;
  height: 20px;
  font-size: 0.9rem;
}
.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.prev-btn {
  color: #fff;
  background-color: #10505e;
  border: 2px solid #0d6efd;
  border-radius: 25px;
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  padding: 7px 25px;
  font-weight: bold;
  float: left;
  margin-bottom: 20px;
}
.prev-btn:hover {
  background-color: #28aac7;
  color: #f2f36b;
}
.cart-order-btn {
  padding: 0.2rem;
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #10505e;
  border: 2px solid #0d6efd;
  font-size: 18px;
  line-height: 20px;
  padding: 7px 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
  width: 90px;
}
.cart-order-btn:hover {
  background-color: #28aac7;
  color: #f2f36b;
}
.cart1-btn {
  padding: 5px 15px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #10505e;
  border: 2px solid #0d6efd;
  font-size: 20px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
  width: 90px;
  margin-bottom: 35px;
}
.cart1-btn:hover {
  background-color: #28aac7;
  color: #f2f36b;
}
/* scrollable div */
.scroll-bg {
  width: 100%;
  padding: 20px;
  border-radius: 50px;
}
.scroll-div {
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #fff;
}
#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #777;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #777;
  border: 2px solid #555555;
}
.scroll-object {
  color: #777;
  font-size: 0.9rem;
  padding: 10px 20px;
}

/* cart products */
.cart-container {
  width: 100%;
  /* height: 250px; */
  display: -webkit-inline-box;
  /* justify-content: center; */
  margin-left: calc(12% - 12px);
  align-items: center;
  flex-wrap: wrap;
}

.cart-box {
  height: auto;
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  margin: 10px;
}
/* check box */
.check1 {
  color: #fff;
}
.main-cart {
  background-color: 'transparent';
}
.allcheckbox strong {
  display: 'inline';
  color: #fff;
  /* width: 100%; */
}
.checkbox {
  justify-content: start;
}
/* quality */
.input-cart {
  justify-content: center;
  width: 50%;
  text-align: center;
}
/* total */
.total {
  font-size: 1.5rem;
  text-align: end;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
.total #price {
  color: #fff;
  font-weight: 400;
}

.main-cart label {
  color: #fff;
}

.star-rating #star-2 {
  color: #bbb;
  font-size: 0.9rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 45px;
}
/* images */
.cart-img a img {
  object-fit: contain;
  /* width: 50px;
   height: 90%; */
  width: 15vw;
  height: 24vh;
}
.c-img-container {
  /* width: 10px; */

  margin-left: auto;
  margin-right: auto;
}
.fa-trash {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
}
.cartDel {
  width: fit-content;
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #d11818;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid #f84b4b;
}
@media (max-width: 768px) {
  .cart-img a img {
    /* width: 19vw;
    height: 30vh; */
    position: inherit;
  }
  .cart-container {
    display: flex;
    justify-content: center;
    margin-left: calc(2% - 2px);
  }
}
@media (max-width: 425px) {
  .cart-box {
    width: auto;
  }
  .cart-img a img {
    width: 48vw;
    height: 30vh;
  }
}
@media (max-width: 320px) {
  .cart-box {
    width: 100%;
  }
  .cart-img a img {
    width: 48vw;
    height: 30vh;
  }
  .form-step-active {
    width: 91vw;
  }
}
@media (min-width: 375px) {
  .scroll-div {
    width: 95%;
  }
}
