/* div left and right */
.confirm-wrapper {
  overflow: hidden;
}

.confirmwrapper div {
  padding: 2px 10px;
}
#three {
  margin-bottom: 10px;
  background-color: #ffffff;
  float: left;
  margin-right: 20px;
  padding: 20px;
  width: 50%;
  /* height: 100%; */
  border-right: 2px solid #000;
  border-radius: 10px;
}
#four {
  padding: 10px;
  background-color: white;
  overflow: hidden;
  min-height: 50%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 35px;
}
.form-check-input {
  margin: 0px 10px;
}
.hr-line {
  border-top: 5px solid #000;
}

/* pos */
::selection {
  background: #f31544;
  color: #fff;
}
::moz-selection {
  background: #f31544;
  color: #fff;
}
.h4 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}
.title {
  float: right;
}
.title p {
  text-align: right;
}
.info-customer {
  font-size: 18px;
  color: #000;
}
.info p {
  font-size: 18px;
  color: #000;
}
.tble {
  width: 100%;
  /* border-collapse: collapse; */
}
.tble .cart-table tr {
  border: 1px solid #fff;
}
.tabletitle {
  font-size: 0.5em;
  background: #eee;
}
#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(49, 46, 46, 0.3);
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #777;
  color: #777;
  border-radius: 2px solid #777;
}
.service {
  border-bottom: 1px solid #eee;
}
.item {
  width: 24mm;
}
.itemtext {
  font-size: 0.5em;
}
/* upload */
.upload {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1px 2px;
  color: white;
  background-color: #28aac7;
}
.up-btn {
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  padding: 7px 25px;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  color: #fff;
  background-color: #10505e;
  border: 2px solid #0d6efd;
}

.up-btn:hover {
  background-color: #28aac7;
  color: #f2f36b;
}

#x {
  display: none;
}
#y {
  display: none;
}
/* LOGO */

.logo {
  display: inline-block;
  height: 10%;
  width: 10%;
  vertical-align: middle;
  margin-left: 170px;
}

#title {
  width: 200px;
  /* text-align:center; */
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.title-h4 {
  font-size: 24px;
  font-weight: bold;
}
.sum-h4 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.pay {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  /* margin-top: 10px; */
}

.pay > select {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 7px 20px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  background-color: #10505e;
}

.payment-details option {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 7px 20px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  background-color: #10505e;
}

.Pay-bank,
.Pay-gcash {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

/* BANK DETAILS */

.four .info p {
  color: black;
  font-size: 16px;
}

/* Button */
.btns-group1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn-prev {
  padding: 0.2rem;
  display: block;
  text-decoration: none;
  background-color: #cefbf5;
  color: #10505e;
  font-size: 20px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
}

.cart-btn {
  padding: 0.2rem;
  display: block;
  text-decoration: none;
  background-color: #cefbf5;
  color: #10505e;
  font-size: 20px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
  width: 90px;

  padding-left: 10px;
  padding-right: 10px;
}
.cart-btn:hover {
  background-color: #28aac7;
  color: #fff;
}
/* qr code */
.img-thumbnail {
  height: 15%;
  width: 40%;
}
/* table */
/* .tableFixHead .table-main-heading th {
  position: sticky;
  top: 0;
  height: 42px;
}
.tableFixHead .sub-heading-table th {
  position: sticky;
  top: 56px;
  height: 42px;
} */
td {
  word-wrap: break-word;
}
/* .tableFixHead {
        overflow-y: auto;
        max-height: 511px;
    }

    .tableFixHead th {
        position: sticky;
        top: 0;
        height: 42px;
        font-size: 10px;
    }

    .tableFixHead thead th {
        z-index: 9999;
    } */
.cartcon-thead {
  position: sticky;
  top: 0;
  height: 42px;
  font-size: 10px;
}
.cart-tr tr {
  border: none !important;
}
.cartcon-thead th {
  z-index: 9999;
  background-color: #10505e;
  color: #fff;
}

.alterationTypeSelect {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px 16px;
  font-size: 10px;
}

.dashboard-sidebar .sidebar-select > div:last-child::-webkit-scrollbar,
.tbody-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.dashboard-sidebar .sidebar-select > div:last-child::-webkit-scrollbar-thumb,
.tbody-scroll::-webkit-scrollbar-thumb {
  background-color: #4b6d79;
  border-radius: 10px;
}

.tbody-scroll {
  position: relative;
  max-height: 515px;
  overflow-y: scroll;
  bottom: 17px;
  overflow-x: scroll;
  /* profile */
  border: 2px solid #000;
}
.tableFixHead-cart {
  position: relative;
  max-height: 515px;
  overflow-y: scroll;
  bottom: 17px;
  /* overflow-x: scroll; */
  /* profile */
  border: 2px solid #000;
}
.tble {
  /* height: 100%; */
  border: 2px solid #000;
  border-collapse: initial;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
}

/* table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    } */

/* .tble tr {
      /* background-color: #f8f8f8; 
      border: 1px solid #ddd;
      padding: .35em;
    } */

.tble th,
.tble td {
  padding: 0.625em;
  text-align: center;
  font-size: 15px;
}

.tble th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.top-head {
  background-color: #10505e;
  color: #fff;
  position: sticky;
  top: 0px;
}
@media screen and (max-width: 600px) {
  .tble {
    border: 0;
  }
}
@media screen and (max-width: 400px) {
  #three {
    float: none;
    margin: 5px;
    width: 95%;
  }
  #four {
    margin: 5px;
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  #three {
    float: none;
    margin: 5px;
    width: 95%;
  }
  #four {
    margin: 5px;
    width: 95%;
  }
  .tbody-scroll {
    position: relative;
    max-height: 90vw;
    overflow-y: scroll;
    bottom: 17px;
    overflow-x: hidden;
  }
}
@media (min-width: 1024px) {
  .logo {
    display: inline-block;
    height: 10%;
    width: 10%;
    vertical-align: middle;
    margin-left: 100px;
  }
}
@media (min-width: 2560px) {
  .logo {
    display: inline-block;
    height: 10%;
    width: 10%;
    vertical-align: middle;
    margin-left: 413px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 93vw;
  }
  .c-msg {
    width: 73vw;
  }
  .title-h4 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 10%;
    height: 10%;
    vertical-align: middle;
    margin-left: 105px;
  }
  .title h4 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
  }
  .alterationTypeSelect {
    width: 60vw;
  }
  .tbody-scroll {
    position: relative;
    max-height: 120vw;
    overflow-y: scroll;
    bottom: 17px;
    overflow-x: hidden;
  }
}
@media (max-width: 375px) {
  .c-msg {
    width: 75vw;
  }
  .logo {
    display: inline-block;
    height: 10%;
    width: 20%;
    vertical-align: middle;
    margin-left: 100px;
  }
  .title-h4 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 425px) {
  .c-msg {
    width: 320px;
  }
  .text {
    margin: 20px;
    margin-left: 91px;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
  }
  #title {
    width: 200px;
    display: inline-block;
    margin-left: 60px;
    display: flex;
    align-items: center;
  }
  .logo {
    display: inline-block;
    height: 10%;
    width: 20%;
    vertical-align: middle;
    margin-left: 128px;
  }
}
@media (min-width: 768px) {
  .c-msg {
    width: 38vw;
  }
  .logo {
    display: inline-block;
    height: 10%;
    width: 13%;
    vertical-align: middle;
    margin-left: 44px;
  }
  .alterationTypeSelect {
    width: 30vw;
  }
  .tble td {
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .tble {
    border: 0;
  }

  .tble thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    display: none;
  }

  .tble tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .tble td {
    width: auto;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .tble td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .tble td:last-child {
    border-bottom: 0;
  }
}
