/* div left and right */
.outerDiv
	{
		color: #fff;
		height: 700px;
		width: 100%;
		/* margin: 0px 20px; */
		padding: 5px;
	}
	.leftDiv1
	{
        border-radius: 2%;
        padding: 20px 10px;
		background-color: #efefef;
		color: #000;
		width: 48%;
		float: left;
	}
	.rightDiv2
	{   
        border-radius: 2%;
        padding: 20px 10px;
		background-color: #efefef;
		color: #000;
		width: 50%;
		height: 690px;
		float: right;
	}	
    .form-check-input{
        margin: 0px 20px;
    }
    .hr-line{
        border-top: 5px solid #000;
    }
	/* pos */
	    ::selection {
		background: #f31544;
		color: #FFF;
	  }
	    ::moz-selection {
		background: #f31544;
		color: #FFF;
		 } 
		.h4{
			display: flex;
			justify-content: center;
			font-size: 20px;
    		margin-top: 20px;
    		margin-bottom: 20px;
			color: #1d7d92;
		}
	    .title {
		float: right;
	  }
	    .title p {
		text-align: right;
	  }
	    table {
		width: 100%;
		border-collapse: collapse;
	  }
	    .tabletitle {
		font-size: 0.5em;
		background: #EEE;
	  }
	  #style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
	    .service {
		border-bottom: 1px solid #EEE;
	  }
	    .item {
		width: 24mm;
	  }
	    .itemtext {
		font-size: 0.5em;
	  }
	  /* upload */
	  .upload{
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: auto;
		padding: 1px 2px;
		color: black;
		background-color: #28AAC7;
	  }
	  .up-btn{
	border-radius: 100px;
  	text-transform: uppercase;
	margin-top: 30px;
	font-size: 18px;
	color: #ffffff;
	padding: 7px 20px;
	font-weight: 600;
	overflow: hidden;
	letter-spacing: 0.02em;
	border-radius: 25px;
	border: solid #10505E;
	background-color: #10505E;
	  }

	  .up-btn:hover{
		border-radius: 100px;
		text-transform: uppercase;
		margin-top: 30px;
		font-size: 18px;
		color: #ffffff;
		padding: 7px 20px;
		font-weight: 600;
		overflow: hidden;
		letter-spacing: 0.02em;
		border-radius: 25px;
		border: solid #0794c9;
		background-color: #0794c9;
		}


	  #x{
		  display: none;
	  }
	  #y{
		  display: none;
	  }
	 /* LOGO */
	 
.logo{
	display:inline-block;
	height: 10%;
	width: 10%; 
	vertical-align:middle;
	margin-left:170px;
  }
  
  #title{
	width:200px;
	/* text-align:center; */
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
  }
  
.sum-h4{
	display: flex;
	justify-content: center;
}

.pay{
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.pay > select{
	display: flex;
	justify-content: center;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	padding: 7px 20px;
	font-weight: 600;
	overflow: hidden;
	letter-spacing: 0.02em;
	border-radius: 25px;
	background-color: #10505E;
}

.payment-details option{
	display: flex;
	justify-content: center;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	padding: 7px 20px;
	font-weight: 600;
	overflow: hidden;
	letter-spacing: 0.02em;
	border-radius: 25px;
	background-color: #10505E;
}

.Pay-bank , .Pay-gcash {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}


/* Button */
.btns-group1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    
  }

.btn-prev {
    padding: 0.20rem;
    display: block;
    text-decoration: none;
    background-color: #cefbf5;
    color: #10505e;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;

}
  
  .cart-btn {
    padding: 0.20rem;
    display: block;
    text-decoration: none;
    background-color: #cefbf5;
    color: #10505e;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    width: 90px;
    
    padding-left: 10px;
    padding-right: 10px; 
  }
  .cart-btn:hover {
    background-color: #28AAC7;
    color: #fff;
  }