/* Form */
  .form {
    margin: 0;
    display: grid;
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    border-radius: 0.35rem;
    /* padding: 1.5rem; */
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btn-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    
  }

  .prev-btn {
    padding: 0.20rem;
    display: block;
    text-decoration: none;
    background-color: #cefbf5;
    color: #10505e;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;

}
  
  .cart-btn {
    padding: 0.20rem;
    display: block;
    text-decoration: none;
    background-color: #cefbf5;
    color: #10505e;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    width: 90px;
   /* margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; */
  }
  .cart-btn:hover {
    background-color: #28AAC7;
    color: #fff;
  }
  /* scrollable div */
  .scroll-bg{
      width: 100%;
      padding: 20px;
      border-radius: 50px;
  }
  .scroll-div{
      width: 100%;
      height: 450px;
      overflow: hidden;
      overflow-y: scroll;
      background-color: #fff;
  }
#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
  .scroll-object{
      color: black;
      font-size: 0.9rem;
      padding: 10px 20px;
  }
  /* cart products */
  .cart-container{
      width: 100%;
      /* height: 250px; */
      display: -webkit-inline-box;
      /* justify-content: center; */
      margin-left: calc(12% - 12px);
      align-items: center;
      height: 300px;
      flex-wrap: wrap;
  }

  .cart-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 10px;
  }
  /* check box */
  .main-cart{
    background-color:'transparent';
  }
  .allcheckbox{
    display: 'inline';
    color: #fff;
  }
  .checkbox{
    justify-content: start;
  }
/* quality */
.input-cart{
  justify-content: center;
  width: 50%;
  text-align: center;
}
/* total */
.total{
  font-size: 1.5rem;
  text-align: end;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.total #price{
  color: #fff;
  font-weight: 400;
}


.main-cart label{
  color: #fff;
}


.star-rating #star-2 {
  color: #bbb;
  font-size: 0.9rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 45px;
  
}
/* images */
.cart-img a img{
   object-fit: contain;
   /* width: 50px;
   height: 90%; */
   width: 15vw;
   height: 24vh;
}
.c-img-container{
  /* width: 10px; */
  
  margin-left: auto;
  margin-right: auto;
}
@media(max-width:768px){
  .cart-img a img {
    width: 19vw;
    height: 30vh;
}
  .cart-container{
    display: flex;
    justify-content: center;
    margin-left: calc(2% - 2px);
  }
}
@media (max-width: 425px){
  .cart-box{
    width: auto;
  }
  .cart-img a img {
    width: 48vw;
    height: 30vh;
}
}
@media(max-width:320px)
{
  .cart-box{
    width: 100%;
  }
  .cart-img a img{
    width: 48vw;
    height: 30vh;
  }
}