.confirm-wrapper { 
  overflow: hidden;
  }
  
  .wrapper div {
     padding: 2px 10px;
  }
  #one {
    background-color: #ffffff;
    float:left; 
    margin-right:20px;
    width:50%;
    height: 100%;
    border-right:2px solid #000;
    border-radius: 10px;
  }
  #two { 
    background-color: white;
    overflow:hidden;
    min-height:50%;
    border-radius: 10px;
    margin-bottom: 35px;
  }
      /* table */
.tableFixHead .table-main-heading th {
  position: sticky;
  top: 0;
  height: 42px;
}
.tableFixHead .sub-heading-table th {
  position: sticky;
  top: 56px;
  height: 42px;
}
td {
  word-wrap: break-word
}
 .tableFixHead {
        overflow-y: auto;
        max-height: 511px;
    }

    .tableFixHead th {
        position: sticky;
        top: 0;
        height: 42px;
        font-size: 10px;
    }

    .tableFixHead thead th {
        z-index: 9999;
    }

    .alterationTypeSelect {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px 16px;
        font-size: 10px;
    }

    .dashboard-sidebar .sidebar-select>div:last-child::-webkit-scrollbar,
    .tbody-scroll::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .dashboard-sidebar .sidebar-select>div:last-child::-webkit-scrollbar-thumb,
    .tbody-scroll::-webkit-scrollbar-thumb {
        background-color: #4B6D79;
        border-radius: 10px;
    }

    .tbody-scroll {
        position: relative;
        max-height: 397px;
        overflow-y: scroll;
        bottom: 17px;
        overflow-x: hidden;
    }
    
    .table {
      /* height: 57vh; */
      height: 100%;
        /* border: 2px solid #000; */
        border-collapse: initial;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }
    
    table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em;
    }
    
    table tr {
      /* background-color: #f8f8f8; */
      border: 1px solid #ddd;
      padding: .35em;
    }
    
    .table th,
    .table td {
      padding: .625em;
      text-align: center;
      font-size: 15px;
    }
    
    table th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
    
    
  .top-head {
    position: sticky;
    top: 0px;
  }
  /* two */
  #style-4::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  #style-4::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  #style-4::-webkit-scrollbar-thumb
  {
      background-color: #000000;
      border: 2px solid #555555;
  }
  /* total */
  .s-total{
      text-align: end;
      font-size: 20px;
      color: #000;
  }
  /*  */
  .text{
    margin: 20px;
    margin-left: 210px;
      align-items: center;
      color: black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
  }
      .form-check-input{
          margin: 0px 20px;
      }
      .hr-line{
          border-top: 5px solid #000;
      }
  .c-form{
      color: #10505e;
  }
  .order-now{
      /* width: 200px; */
      /* background: red;*/
      padding: 0px 20px;
      float: left;
      color: #10505e;
  }
  .bg-light{
      background-color: #fff;
  }
  .advance-order{
      word-wrap:break-word;
      width: 50%;
      margin-left: 150px;
      color: #10505e;
  }
  .row{
      justify-content: center;
  }
  .my-4{
      color: #10505e;
  }
  .order-m{
    justify-content: center;
    display: flex;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
  .form-label{
      align-items: center;
      display: flex;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      margin-top: 10px;
  }
  .c-msg{
    width: 39vw;
    margin-left: 2px;
  }
  .alterationTypeSelect{
    width: 36vw;
  }
  
  
  /* button */
  .c-btn{
      border-radius: 100px;
      text-transform: uppercase;
      background-color: #10505e;
      color: #fff;
  }
  .c-btn:hover{
      background-color: #28aac7;
  }
  .btns-group{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: -170px;
    }
  
    .btn-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 50px;
    }
  
  .prev-btn a {
    width: 20vw;
    padding: 0.5rem;
    display: flex;
    text-decoration: none;
    background-color: #cefbf5;
    color: #10505e;
    font-size: 15px;
    /* text-align: center; */
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    /* margin-left: auto; */
    position: absolute;
  }
  
  .next-btn {
    color:#fff;
    background-color: #10505E;
    border: 2px solid #0d6efd;
    border-radius: 25px;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    padding: 7px 25px;
    font-weight: bold;
    float: right;
  }
  .next-btn:hover{
    background-color: #28aac7;
    color: #f2f36b;
  }
  
  /* line */
  .hr-line{
      size:8px;
      width: 100%;
      color: #000;
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  }
  @media screen and (max-width: 400px){
     #one { 
      float: none;
      margin: 5px;
      width: 95%;
    }
    #two{
      margin: 5px;
      width: 95%;
    }
  }
  @media screen and (max-width: 425px){
    #one { 
     float: none;
     margin: 5px;
     width: 95%;
     height: fit-content;
   }
   #two{
     margin: 5px;
     width: 95%;
   }
   .tbody-scroll {
    position: relative;
    max-height: 90vw;
    overflow-y: scroll;
    bottom: 17px;
    overflow-x: hidden
 }
}
  @media screen and (max-width: 768px){
    .c-msg{
      width: 38vw;
    }
    .alterationTypeSelect{
      width: 30vw;
    }
    .table td{
      text-align: center;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 320px){
    .wrapper{
        width: 93vw;
    }
    .c-msg{
      width: 73vw;
    }
    .alterationTypeSelect{
      width: 60vw;
    }
    .tbody-scroll {
      position: relative;
      max-height: 120vw;
      overflow-y: scroll;
      bottom: 17px;
      overflow-x: hidden
   }
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      display: none;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      width: auto;
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }