@import url(https://fonts.googleapis.com/css?family=Nunito);

.up-button {
    font-size: 20px;
    margin-bottom: 20px;
    color: #10505e;
  }

.section-title-f .footer-h2{
  font-family: 'Nunito Sans';
  height: auto;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Nunito';
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-info .facebook {
color: white;
}

.footer-info .instagram {
  color: white;
  }

.footer-info .twitter {
    color: white;
    }

footer{
  background-color: #10505e;
  color: white;
}