/* Back to Top Button */
/* #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: teal;
    color: #cefbf5;
    cursor: pointer;
    padding: 10px;
    border-radius: 75%;
    width: 50px;
  } */

  #return-to-top {
    position: fixed;
    bottom: 75px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    margin: auto;
    color: #cefbf5;
    position: relative;
    padding: 5px 30px 0px 7px;
    left: 10px;
    top: 13px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

#messenger {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background: #F2F36B;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.messenger_dd{
    position: fixed;
    bottom: 30px;
    right: 70px;
    background-color: #fff;
    width: 350px;
    height: auto;
    border: 1px solid #c7d8e2;
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0,125),
    -10px -10px 30px rgba(0,0,0,0,125);
    z-index: 100;
}

.messenger_dd:before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 348px;
    border: 10px solid;
    border-color:  transparent transparent  transparent #fff;
}

.meesenger_dd ul li{
    border-bottom: 1px solid #f1f2f4;
}

.messenger_dd ul li:last-child{
    border-bottom: 0px;
}

.messenger_dd ul li a{
    display: block;
    padding: 5px 15px;
    position: relative;
    color: #000;
}

.messenger_dd ul li a .picon{
    width: 30px;
    display: inline-block;
}

.messenger_dd ul li a:hover{
    color: #3b80f9;
    background: #f0f5ff;
}

.messenger_dd ul li.messenger_li a:hover{
    background: transparent;
    cursor: default;
    color: #7f8db0;
}

.messenger_dd ul li .msgbtn{
    height: 32px;
    width: 125px;
    background: #3b80f9;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    margin: 5px auto 15px;
}

.messneger_dd ul li .msgbtn:hover{
    background: #6593e4;
}

.msgcontainer {
    width: 500 !important;
    margin: auto;
    margin-top: 2%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.msgheader {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #007bff;
}

.msgheader-img {
    border-radius: 50%;
    width: 40px;
    margin-left: 5%;
    margin-top: 12px;
    margin-bottom: 10px;
    float: left;
}

.msgactive {
    width: 80px;
    float: left;
    margin-top: 10px;
}

.msgactive h4 {
    font-size: 20px;
    margin-left: 5px;
    color: #fff;
}

.msgactive h6 {
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: #fff;
}

.msgheader-icon {
    width: 120px;
    float:right;
    margin-right: -25px;
}

.msgheader-icon .fas {
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
}

.chats {
    padding: 10px 10px 0px 10px;
}

.msg-page {
    height: 450px;
    overflow-y: auto;
}

.received-msg-img {
    display: inline-block;
    width: 20px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0px 0px;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-msg p {
    background: #007bff;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing-msg {
    float: left;
    width: 57%;
    margin-left: 30%;
}

.outgoing-msg-img {
    display: inline-block;
    width: 20px;
    float: right;
}



