/*Header*/
@import url(https://fonts.googleapis.com/css?family=Nunito);

.navbar{
  background-color: #196b7d;
  color: #CEFBF6;
  padding: 0px, 0px, 0px, 5px;
  font-family: 'Nunito';
  list-style: none;
}
.navbar-dark .navbar-nav .nav-link{
  font-size: 20px;
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus
{
  color: #F2F36B;
}
/* btn */
.btn-login{
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size:14px;
  overflow: hidden;
  border-radius: 100px;
  background-color: #F2F36B;
  border: 2px solid #ffffff;
}
.btn-login a{
  color: #000 !important;
}

.btn-login a:hover {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size:14px;
  overflow: hidden;
  border-radius: 100px;
  background-color: #fbfb02;
  color: #10505e !important;
}

/*Carousel*/
/* .carousel__img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
} */
.carousel-item .carousel__caption h1{
  font-family: 'Nunito';
  font-size: 90px;
  Color: #10505e;
  text-shadow: 0 0 6px #e9ec00;
  font-weight: bolder;
  padding-bottom: 50px;
  padding-right: 50px;
}
.carousel__caption p{
  font-family: 'Nunito';
  font-size: 20px;
  Color: #10505e;
  font-style: oblique;
}
.btn-lg{
  /* border-radius: 100px; */
  /* text-transform: uppercase;
  background-color: #10505e;
  color: #fff; */
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #10505e;
  color: #fff;
  font-size: 18px;
  padding: 5px 30px;
  font-weight: bold;
}

.btn-lg:hover{
  background-color: #28aac7;
  color: #f2f36b;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: 38rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;

    color: black;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
