/* Feature Products*/
a .product-title{
    text-align: Left;
}

.p-price{
    font-size: 18px;
    color: #2d6c7a;
    font-weight: bold;
}
/* button */
.q-btn{
    /* padding: 0;
	margin: 0;
	border-style: none;
	touch-action: manipulation; */
	display: flex;
	border: none;
	background: none;
	cursor: pointer;
}
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito';
    color: #000;
}
a{
    text-decoration: none;
    /* font-size: 0.9rem; */
}
body{
    margin: 0px;
    padding: 0px;
}
/* slider */
.p-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 95%;
}
.product-slider-heading{
    font-size: 24px;
    text-transform: uppercase;
    margin: 0px;
    color: #cefbf5;
    position: relative;
    display: inline-block;
    font-weight: 500;
}
.product-slider-heading::after{
    content: '';
    height: 3px;
    width: 50%;
    background-color: #00aeef;
    position: absolute;
    left: 75px;
    bottom: -20px;
}
.product-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.5;
    /* width: 250px; */
    /* width: 220px; */
    width: 300px;
    height: 45vh;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 10px 10px;
    position: relative;
}
/* .glider-slide{
    height: 40vh;
    width: 300.6px;
} */


.product-container {
    width:100%;
    display: flex;
    /* margin-left: 70px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* img */
.p-img-container{
    width: 50%;
    height: 50%;
    display: flex;
    overflow: hidden;
}
.f-img{
    width: 18vw;
    height: 20vh;
}
.p-overlay{
position: absolute;
  width: 300%;
  height: 100%;
  
  /* background: rgba(0, 0, 0, 0); */
  /* background */
}

.p-img:hover .p-overlay {
    width: 88%;
  height: 55%;
  display: block;
  background: rgba(0, 0, 0, .3);
}

/* button */
.s-button {
    margin-top: 39%;
    margin-left: 25%;
    position: absolute;
    width: 88%;
    height: 40%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease-out;
  }
  
  .s-button a{
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #10505e;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: solid 2px white;
    z-index: 1;
  }
  
  .s-button a:hover{
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #0794c9;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: solid 2px white;
    z-index: 1;
  }

  .p-img:hover .s-button {
    opacity: 1;
  }
.p-img a,
.p-img{
    /* width: 100%;
    height: 290px; */
    display: flex;
}
.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    animation: fade 0.6s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.p-box-text{
    margin-top: 5px;
    width: 100%;
}
.product-category{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    
    
}
/* .product-sold span{
    flex-wrap: wrap;
    height:5%;
    float:left;
    width:100%;
    font-size: 0.7rem;
} */
.product-category span{
    color: #acacac;
    font-size: 16px;
    margin: 5px 0px;
    
    
}

.product-title{
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
    text-transform: uppercase;
}
.product-title:hover{
    color: #111111;
    opacity: 0.7;
    transition: all ease 0.3s;
}
.price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.price a{
        float: right;
        margin: 0px 5px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        font-size: 12px;
        color: #ffffff;
        padding: 3px 6px;
        overflow: hidden;
        letter-spacing: 0.02em;
        border-radius: 25px;
        background-color: #10505E;
}

.price a:hover{
    background-color: #0794c9;
    color: #ffffff;
  }

.price-buy .p-price{
    font-size: 0.9rem;
    /* color: #333333; */
    font-weight: 700;
}

/* .price-buy{
    border-radius: 100px;
    background-color: #10505e;
    color: #fff;
} */


/* Home Add to Cart Button */
.price .p-buy-btn{
    border-radius: 100px;
    background-color: #10505e;
    color: #fff;
    font-weight: normal;
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    padding: 7px 20px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
}

.price-buy .p-buy-btn:hover{
    /* text-decoration: underline; */
    background-color: #28aac7;
}
.buy-p{
    font-size: 0.6rem;
}

/* HOME ADD TO CART BUTTON */
.p-discount{
    position: absolute;
    left: 86px;
    top: 20px;
    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: #e63b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    z-index: 100;
    border-radius: 3px;
}
.slider-btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px auto 10px auto;
    padding: 0px 10px;
}
.slider-btns button{
    position: static !important;
    transform: translate(0,0);
    background-color: #f3f3f3;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}
.slider-btns button span{
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    position: relative;
    text-decoration: none;
}
.slider-btns button span::before,
.slider-btns button span::after{
    border-right: 2px solid;
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    content: '';
}
.slider-btns button span::after{
    margin-top: -1px;
    transform: rotate(45deg);
}
.slider-btns .glider-prev span{
    transform: rotate(-180deg);
}
@media(max-width:500px){
    .product-container{
        align-items: center;
        justify-content: center;
        display: inline-flex;
    }
    .product-box{
        margin: 5px 10px;
        height: 60vh;
    }
    .p-slider{
        width: 100%;
    }
    .product-slider-heading{
        text-align: center;
        font-size: 0.9rem;
        display: flex;
    }
    /* img */
    .p-img a,
    .p-img{
        height: 200px;
    }
    .price-buy .p-price{
        font-size: 0.9rem;
        color:#10505e;
    }
    .p-img-container:hover .p-img-back{
        display: none;
    }
    .p-img-container:hover .p-img-front{
        display: block;
    }
}
@media(max-width:320px)
{
    .product-container{
        margin-right: 300px !important;
    }
    .p-img a,
    .p-img{
        height: 190px;
    }
    .slider-btns{
        padding: 0px;
    }
    .price a{
        
    }
}

/* .product-ratting{
    text-align: right;
} */


/* btn */
.q-btn .input{
    width: 30px;
    height:20px;
    font-size: 0.9rem;
    /* margin: 0 10px; */
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

/* quantity button-products page */
.q-btn .qtyminus, .qtyplus{
    color: #fff;
    align-content: center;
    /* width: 15px; */
    font-size: 13px;
    border-radius: 5px;
    margin: 2px;
    background: #28AAC7;
    border: 1px #28aac7;
}
.qty-int{
    text-align: center;
    height:20px;
    font-size: 0.9rem;
}

/*hide arrows num */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  font-size: 14px;
  width: 30px;
}
/* ratings */
.star-rating {
    direction: ltr;
    display: flex;
    cursor: default;
  }

  .star-rating span{
    direction: ltr;
    display: flex;
    cursor: default;
    color: #000;
  }

  .star-rating input[type=radio] {
    display: none;
  }
  .star-rating label {
    color: #bbb;
    font-size: 0.9rem;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
  }
  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input[type=radio]:checked ~ label {
    color: #f2b600;
  }
  /* div */
  #div1{
    height:5%;
    width:50%;
    float:left;
    text-align: start;
    font-size: 0.7rem;
  }

  #div1 span{
    color: #acacac;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
  }

  #div2 span{
    /* color: #2d6c7a; */
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    margin-left: 45px;
  }

  #div2 .total-sold{
    color: #000;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    margin-left: 45px;
  }

  #div2{
    height:5%;
    float:right;
    padding: 0px 10px;
    width:50%;
    font-size: 0.5rem;
    display: contents;
  } 
  .total-sold{
    text-align: end;
    font-size: 0.9rem;
    color: #fff;
  }
  .div2-btn{
    height: 40px;
  }
  .add-to{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    width: 100px;
    align-content: center;
    margin: auto;
    margin-top: 5px;
    /* margin-right: 25px; */
    margin-left: 0px;
  }

  .div2-btn .btn-style-one{
    margin: 0px 5px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: #000;
    padding: 7px 20px;
    overflow: hidden;
    letter-spacing: 0.02em;
    border-radius: 25px;
    background-color: #10505E;
  }


/* NEW CCS FOR MENU*/

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.category-list {
    display: flex;
}

.category-list li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.category-list li a {
    color: #fff;
}

.toggle {
    display: none;
}

.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}

.category-list a:hover,
.right-menu a:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
}

.inputWithIcon input[type="text"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #000;
    transition: 0.3s;
  }
.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 200px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;
}

@media(max-width:1010px) {
    
    .category {
        height: 80px;
    }
    .category-list {
        position: absolute;
        top: 110px;
        left: 0px;
        background-color: #ffffff;
        /* border-bottom: 4px solid #0b9d8a; */
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 102;
        flex-direction: column;
        display: none;
    }
     .category-list{
        top: 80px;
    }
    .category-list li {
        width:100%;
        margin: 0px;
        padding: 0px;
    }
    .category .category-list li a {
        width:100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(0,0,0,0.03);
    }
    .toggle{
        display: block;
    }
    .toggle:before{
        content: 'Categories ▼';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }
    .toggle.active:before{
        content: '\f00d';
    }
    .category.active .category-list {
        display: block;
    }
    
    .search-input{
        height: 60px;
    }
    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }
}
@media(max-width:768px) {
    .p-img-container  {
        width: auto;
    }
    .p-img-front{
        height: 156px;
    }
    .p-overlay{
        width: 5px;
        height: 5px;
    }
    .p-box-text{
        height: 10vh;
    }
    
}
@media(max-width:600px) {
    .category {
        padding: 10px;
    }
}
.container{
    flex-wrap: wrap;
    width: 100%;
    display: -webkit-inline-box;
}
/* latest products try lang 03/12/22*/

