.prof_pic {
    height: 50px;
    width: 50px;
}

.profilecontainer{
    /* display: flex; */
}


/* @media only screen and (max-width: 575px) {
    .profilecontainer {
        margin-left: 320px;
    }
} */

.profilecontainer .icon_prof{
    display: flex;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}

.profilecontainer .name{
    display: inline-block;
    margin: 0 15px;
    font-size: 16px;
    color: #fff;
    width: 100%;
}

.profilecontainer .icon_prof:hover,
.profilecontainer .icon_prof.active{
    color: #3b80f9;
}

.profile_dd{
    
    right: 6px;
    background-color: #fff;
    height: auto;
    border: 1px solid #c7d8e2;
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0,125),
    -10px -10px 30px rgba(0,0,0,0,125);
    /* display: block; */
    
}
@media (min-width: 576px){
    .profile_dd:before{
        content: "";
        position: absolute;
        top: -20px;
        right: 10px;
        border: 10px solid;
        border-color: transparent transparent #fff transparent;
    }
    .profile_dd{
        top: 65px;
        position: absolute;
        width: 225px;
        /* display: none; */
        
    }
}

@media (max-width: 575px) {
    .profile_dd {
        position: relative;
        width: 100%;
    }
}





.profile_dd ul li{
    border-bottom: 1px solid #f1f2f4;
}

.profile_dd ul li:last-child{
    border-bottom: 0px;
}

.profile_dd ul li a{
    display: block;
    padding: 15px 35px;
    position: relative;
    color: #000;
}

.profile_dd ul li a .picon{
    width: 30px;
    display: inline-block;
}

.profile_dd ul li a:hover{
    color: #3b80f9;
    background: #f0f5ff;
}

.profile_dd ul li.profile_li a:hover{
    background: transparent;
    cursor: default;
    color: #7f8db0;
}

.profile_dd ul li .prof_btn{
    height: 32px;
    width: 125px;
    background: #3b80f9;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;    
}

@media (min-width: 576px){
    .profile_dd ul li .prof_btn{
        text-align: start;
        margin: 5px auto 15px;
    }
}
@media (max-width:575.9px ){
    .profile_dd ul li .prof_btn{
        text-align: start;
        margin: 0px 0px 15px 35px;
    }
}

.profile_dd ul li .prof_btn:hover{
    background: #6593e4;
}