/* banner image */
.profile-banner-img {
  width: 100%;
}
@media (min-width: 768px) {
  .col-md-3 {
    width: -webkit-fill-available;
  }
}
@media (min-width: 1000px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
.display-flex {
  display: flex;
  width: 100%;
}
.align-end {
  align-content: flex-end;
}
.display-left {
  float: left;
  width: 40%;
}
.display-right {
  float: right;
  width: 60%;
}
.display-left-btn {
  float: left;
  width: 50%;
}
.display-right-btn {
  align-content: flex-end;
  float: right;
  width: 50%;
}
.display-left-div {
  float: left;
  width: 50%;
  margin-right: 5%;
}
.display-right-div {
  align-content: flex-end;
  float: right;
  width: 45%;
}
.nav-pills-custom .nav-link {
  background-color: #4ebad3;
  font-size: 18px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 25px 25px 0;
  color: black;
  padding: 5px 5px;
  cursor: pointer;
  width: 250px;
  margin: 5px;
  height: 10px;
}

.nav-pills-custom .nav-link.active {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f36b;
  border: 1px solid yellow;
  border-radius: 0 25px 25px 0;
  color: black;
  padding: 5px 5px;
  cursor: pointer;
  width: 260px;
  margin: 5px;
  height: 10px;
}
.hold-address {
  width: auto;
}
/* form */
.row .labels {
  font-weight: bold;
  padding-left: 5px;
  word-break: break-word;
}
.address-es {
  font-weight: bold;
  margin-bottom: 20px;
}
.default {
  padding: 10px;
  text-decoration: underline;
  font-weight: bold;
}
/* endform */
/* Add indicator arrow for the active tab */
/* @media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #F2F36B;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
} */

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}
/* personal info */
.p-c-img {
  width: 35%;
  height: 35%;
  border-radius: 20px;
  float: right;
  margin-right: 20px;
  margin-top: 50px;
  position: relative;
  display: flex;
}
.p-c-img i {
  position: absolute;
  top: 20px;
  right: -7px;
  /* border: 1px solid; */
  border-radius: 50%;
  /* padding: 11px; */
  height: 30px;
  width: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: cornflowerblue;
  box-shadow: 0 0 8px 3px #b8b8b8;
}
/*-----FORM START------ */

.form-control {
  width: 515px;
  font-weight: normal;
  /* margin-left: 30px; */
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #4ebad3;
  /* display: block;
  margin: 0.5rem 0; */
}
#col .btn-block {
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #10505e;
  color: #fff;
  margin: 10px 20px;
}
.set-pri {
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #10505e;
  border: 2px solid #0d6efd;
  color: #fff;
  font-size: 12px;
  font-size: 11px;
  padding: 7px 7px;
  font-weight: bold;
  /* margin-left: 40px; */
}

.set-pri:hover {
  background-color: #0794c9;
  border: 2px solid #0794c9;
  color: #fff;
}
.img-save {
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #10505e;
  border: 2px solid #4ebad3;
  color: #fff;
  font-size: 18px;
  padding: 7px 30px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 50px;
}
.img-save:hover {
  background-color: #28aac7;
  color: #f2f36b;
  border: 2px solid #28aac7;
}
.Add-add {
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #10505e;
  border: 2px solid #4ebad3;
  color: #fff;
  font-size: 18px;
  padding: 7px 30px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 50px;
}

.Add-add:hover {
  background-color: #28aac7;
  color: #f2f36b;
  border: 2px solid #28aac7;
}

.Del {
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #d11818;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 7px 7px;
  border: 2px solid #f84b4b;
  /* margin-bottom: 20px; */
}

.Del:hover {
  font-weight: bold;
  background-color: #f33b3b;
  color: #f2f36b;
}

.tab-pane {
  width: auto;
  border-radius: 10px;
}
/* purchase history */

/* table */
.tableFixHead .table-main-heading th {
  position: sticky;
  top: 0;
  height: 42px;
}
.tableFixHead .sub-heading-table th {
  position: sticky;
  top: 56px;
  height: 42px;
}
td {
  word-wrap: break-word;
}
.tableFixHead {
  overflow-y: auto;
  max-height: 511px;
}

.tableFixHead th {
  position: sticky;
  top: 0;
  height: 42px;
  font-size: 10px;
}

.tableFixHead thead th {
  z-index: 9999;
  background-color: #10505e;
  color: #fff;
  border: 2px solid #fff;
}

th,
td {
  padding: 8px 16px;
  font-size: 10px;
}

.tbody-scroll {
  position: relative;
  /* max-height: 120vw; */
  max-height: 350px;
  overflow-y: scroll;
  bottom: 17px;
  overflow-x: scroll;
}
.dashboard-sidebar .sidebar-select > div:last-child::-webkit-scrollbar,
.tbody-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.dashboard-sidebar .sidebar-select > div:last-child::-webkit-scrollbar-thumb,
.tbody-scroll::-webkit-scrollbar-thumb {
  background-color: #4b6d79;
  border-radius: 10px;
}

/* .tbody-scroll {
  position: relative;
  max-height: 515x;
  overflow-y: scroll;
  bottom: 17px;
  overflow-x: hidden;
} */

.profiletable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  display: inline;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  /* background-color: #f8f8f8; */
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 3px;
  text-align: center;
  font-size: 15px !important;
  /* text-transform: uppercase; */
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    display: none;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    width: auto;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* general styling */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}
.top-head {
  position: sticky;
  top: 0px;
}

.p-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.container3 {
  padding: 50px;
}
@media (min-width: 0px) {
  .tab-pane {
    margin-top: 15px;
    width: 100%;
    margin-top: 10px;
  }
  .nav-pills-custom .nav-link.active {
    font-size: 16px;
    width: 220px;
  }
  .nav-pills-custom .nav-link {
    width: 200px;
    font-size: 16px;
  }
  .display-flex {
    display: block;
    width: 100%;
  }
  .display-left {
    float: none;
    width: 100%;
  }
  .display-right {
    float: none;
    width: 100%;
  }
  .display-left-btn {
    float: none;
    width: 100%;
  }
  .display-right-btn {
    align-content: flex-end;
    float: none;
    width: 100%;
  }
  .display-left-div {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .display-right-div {
    align-content: none;
    float: none;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .user-profile {
    padding: 0;
  }
}
@media (min-width: 320px) {
  .tab-pane {
    margin-top: 15px;
    width: 100%;
    margin-top: 10px;
  }
  .p-c-img {
    width: 35%;
    height: 35%;
    border-radius: 20px;
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    display: flex;
  }
  .px-3 {
    background: #10505e;
    border: 2px solid #0d6efd;
    color: #fff;
    border-radius: 100px;
    text-transform: uppercase;
    position: relative;
    padding: 7px 30px;
    font-weight: bold;
    overflow: hidden;
    letter-spacing: 0.02em;
    float: right;
    margin-right: 280px;
    transition: all 300ms ease;
  }
  .img-save {
    background: #10505e;
    border: 2px solid #0d6efd;
    color: #fff;
    border-radius: 100px;
    text-transform: uppercase;
    position: relative;
    padding: 7px 20px;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    letter-spacing: 0.02em;
    /* float: right; */
  }
}
@media screen and (min-width: 425px) {
  .tab-pane {
    width: 100%;
  }
  .nav-pills-custom .nav-link.active {
    width: 260px;
  }
  .nav-pills-custom .nav-link {
    width: 250px;
  }
  .hold-address {
    margin: 10px 0px !important;
    /* width: 275px; */
  }
}
@media screen and (min-width: 320px) {
  .tab-paneph {
    width: 92%;
  }
  .tab-paneao {
    width: 92%;
  }
  .p-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  .hold-address {
    margin: 10px 0px !important;
    /* width: 550px; */
  }

  .form-control {
    /* width: auto; */
    font-weight: 600;
    font-size: 0.9rem;
  }

  .f-div-forbg-clr {
    height: auto;
  }
}
@media screen and (min-width: 576px) {
  .tab-pane {
    /* width: 70%; */
    width: 100%;
  }
  .display-flex {
    display: flex;
    width: 100%;
  }
  .align-end {
    align-content: flex-end;
  }
  .display-left {
    float: left;
    width: 40%;
  }
  .display-right {
    float: right;
    width: 60%;
  }
  .display-left-btn {
    float: left;
    width: 50%;
  }
  .display-right-btn {
    align-content: flex-end;
    float: right;
    width: 50%;
  }
  .display-left-div {
    float: left;
    width: 50%;
    margin-right: 5%;
  }
  .display-right-div {
    align-content: flex-end;
    float: right;
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .tab-pane {
    width: 100%;
  }
  .td {
    word-break: break-all;
  }
}
@media screen and (min-width: 1000px) {
  .tab-pane {
    margin-left: 10%;
    /* width: 45%; */
    width: 90%;
  }
  .td {
    word-break: break-all;
  }
}
@media screen and (min-width: 2560px) {
  .profile-section {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .tab-pane .tab-content {
    /* width: 45%; */
    width: fit-content;
  }
}
/* 
.profile-section {
  display: flex;
  justify-content: center;
  text-align: center;
} */
.px-3 {
  background: #10505e;
  border: 2px solid #0d6efd;
  color: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  position: relative;
  padding: 7px 30px;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;

  letter-spacing: 0.02em;
  float: right;
  margin-right: 21px;
  transition: all 300ms ease;
}

.px-3:hover {
  background-color: #28aac7;
  color: #f2f36b;
}

.v-button {
  margin: 0px 5px;
  /* font-weight: 600; */
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 15px;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 100px;
  background-color: #10505e;
  border: 2px solid #0d6efd;
}

.v-button:hover {
  background-color: #28aac7;
  color: #f2f36b;
}

.c-button {
  margin: 0px 5px;
  /* font-weight: 600; */
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 15px;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  background-color: #d11818;
  border: 2px solid #f84b4b;
}

.w-button {
  margin: 0px 5px;
  /* font-weight: 600; */
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  padding: 3px 5px;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  background-color: #d11818;
  border: 2px solid #f84b4b;
  margin-top: 10px;
}

.c-button:hover {
  background-color: #f33b3b;
  color: #f2f36b;
}

.addressContainer-btn {
  display: flex;
  margin-top: 10px;
}

.user-profile {
  padding: 60px;
}
