/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 6rem;
}

.progressbar::before,
.progress {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #fff;
  z-index: -1;
}

.progress {
  background-color: #f2f36b;
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
  color: #000;
}

.progress-step::after {
  white-space: nowrap;
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 15px;
  color: #f2f36b;
}

.progress-step-active {
  background-color: #f2f36b;
  color: #10505e;
}
.text-center {
  margin-top: 30px;
  margin-bottom: 35px;
  color: #f2f36b;
  font-size: 24px;
  font-weight: bold;
}

.cartlist .h6 {
  text-align: center;
  color: #fff;
}
@media (min-width: 320px) {
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 1.5rem 1rem;
  }
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 10px;
    color: #f2f36b;
  }
}
@media (max-width: 320px) {
  .progressbar {
    margin: 2px 5px 24px 5px;
  }
  .progress-step::after {
    font-size: 8px;
  }
}
