.reco-product-box {
  /* background-color: #fff; */
  background-color: #e2e5de;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 0.5; */
  /* width: 250px; */
  /* width: 220px; */
  width: 300px;
  /* height: 45vh; */
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 5px 5px;
  position: relative;
}
.reco-product-category {
  color: #acacac;
  font-size: 16px;
  margin: 5px 0px;
  font-weight: 300;
}

.reco-box-text {
  padding: 10px;
}

.reco-title {
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: all ease 0.3s;
  text-transform: uppercase;
  font-size: 16px;
}

.reco-product-category {
  color: #777;
  text-decoration: none;
  transition: all ease 0.3s;
  font-size: 16px;
}

.reco-buy-btn {
  font-weight: 600;
  position: relative;
  display: flex;
  font-size: 12px;
  color: #ffffff;
  padding: 8px 10px;
  overflow: hidden;
  letter-spacing: 0.02em;
  border-radius: 25px;
  background-color: #10505e;
  border: 2px solid #0794c9;
}

.reco-buy-btn:hover {
  color: #f2f36b;
  background-color: #0794c9;
  border: 1px solid #0794c9;
}

.reco-discount {
  position: absolute;
  padding: 10px;
  top: 20px;
  width: fit-content;
  height: 24px;
  color: #ffffff;
  background-color: #e63b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1px;
  z-index: 100;
  border-radius: 3px;
}

.reco-price {
  color: #10505e;
  font-weight: bold;
}
@media (min-width: 320px) {
  .reco-buy-btn {
    font-size: 10px;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
  }
}
