.single-container {
  margin: 30px;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito';
}
.single-sec{
  background-color: #ffffff;
  border-radius:10px;
  margin: 20px;
}
.ss-btn{
  margin: 0px 18px;
}
.product-right-slick{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
 
.qty-box{
  border: none;
	background: none;
	cursor: pointer;
}
  /*Rating*/
  
  .s-rate {
    float: right;
    height: 55px;
    padding: 0 80px;
    position: static;
    margin-top: -40px;
    margin-right: 200px;

}
.s-rate:not(:checked) > input {
    position:absolute;
    top:0px;
}
.s-rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:18px;
    color:#ccc;
}
.s-rate:not(:checked) > label:before {
    content: '★ ';
}
.s-rate > input:checked ~ label {
    color: #ffc700;    
}
.s-rate:not(:checked) > label:hover,
.s-rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.s-rate > input:checked + label:hover,
.s-rate > input:checked + label:hover ~ label,
.s-rate > input:checked ~ label:hover,
.s-rate > input:checked ~ label:hover ~ label,
.s-rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/*=====================
    1.General CSS start
==========================*/
 ul {
  padding-left: 0;
  margin-bottom: 0; }

li {
  display: inline-block; }

p {
  font-size: 14px;
  color: #777777;
  line-height: 1; }

.qty-box .input-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .qty-box .input-group span button {
    background: #ffffff !important;
    border: 1px solid #ced4da; }
  .qty-box .input-group .form-control {
    text-align: center;
    width: 80px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset; }
  .qty-box .input-group button {
    background-color: transparent;
    border: 0;
    color: #777777;
    cursor: pointer;
    padding-left: 12px;
    font-size: 12px;
    font-weight: 900;
    line-height: 1; }
    .qty-box .input-group button i {
      font-weight: 900;
      color: #222222; }
  .qty-box .input-group .icon {
    padding-right: 0; }


.product-right p {
  margin-bottom: 0;
  line-height: 1.5em; }

.product-right .product-title {
  color: #222222;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0; }

.product-right .border-product {
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px dashed #dddddd; }

.product-right h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 1.2em; }

.product-right h3 {
  font-size: 26px;
  color: #222222;
  margin-bottom: 15px; }

.product-right h4 {
  font-size: 16px;
  margin-bottom: 7px; }
  .product-right h4 del {
    color: #777777; }
  .product-right h4 span {
    padding-left: 5px;
    color: var(--theme-deafult); }

.product-right .color-variant {
  margin-bottom: 10px; }
  .product-right .color-variant li {
    height: 30px;
    width: 30px;
    cursor: pointer; }

.product-right .product-buttons {
  margin-bottom: 20px; }
  .product-right .product-buttons .btn-solid,
  .product-right .product-buttons .btn-outline {
    padding: 7px 25px; }
  .product-right .product-buttons a:last-child {
    margin-left: 10px; }

.product-right .product-description h6 span {
  float: right; }

.product-right .product-description .qty-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px; }
  .product-right .product-description .qty-box .input-group {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    width: unset; }
    .product-right .product-description .qty-box .input-group .form-control {
      border-right: none; }

.product-right .size-box {
  margin-top: 10px;
  margin-bottom: 10px; }
  .product-right .size-box ul li {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #f7f7f7;
    text-align: center; }
    .product-right .size-box ul li a {
      color: #222222;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%; }
    .product-right .size-box ul li.active {
      background-color: #f7f7f7; }
/*=====================
    29.Responsive CSS start
==========================*/
@media (min-width: 1630px) {
  .container {
    max-width: 1600px; } }
@media (min-width: 1430px) {
  .container {
    max-width: 1400px; } 
  }

@media (max-width: 991px) {
  h2 {
    font-size: 28px; }
    .product-right h2 {
    margin-top: 15px; }
  .product-right {
    text-align: center;
    margin: 20px 0 10px 0; }
    .product-right .detail-section,
    .product-right .product-icon {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .product-right .product-description .qty-box {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .product-right .size-text {
      text-align: left; }
    .product-right .timer {
      text-align: left; }
    .product-right .product-icon .product-social li {
      padding-right: 20px; }
  .product-slick {
    opacity: 1; }
  .product-slick ,
  .product-right-slick {
    left: 20px; }
  .product-slick .slick-next,
  .rtl-product-slick .slick-next,
  .product-right-slick .slick-next,
  .rtl-product-right-slick .slick-next {
    right: 20px; }
  .collection-wrapper .order-up {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  }

@media (max-width: 420px) {
  .comment-area textarea{
    width: fit-content;
  }
  .sendP{

}}
  

    /* comments/ reviews */

/* comment */
.s-review{
  margin-top: 20px;
  background-color: #5B5B5B;
  text-align: center;
  color: #cefbf5;
  padding: 5px;
  width: 95%;
}

.review-card {
    width: 92%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nunito';
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* padding: 20px; */
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
}

.rounded-circle{
  align-items: center;
  display: flex;
  margin-top: 25px;
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    /* resize: none; */
    border: 1px solid #ad9f9f;
    font-size: 14px;
    width: 90%;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px #0794c9 !important
}
.pull-left .btn{
  border-radius: 50px;
  padding-left: 13px;
  padding-right: 13px;
  text-transform: uppercase;
  background-color: #10505E;
  border: 1px solid #10505e;
  color: #fff;
}

.pull-left .btn:hover{
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #0794c9;
  border: 1px solid #0794c9;
  color: #fff;
}

.send {
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #10505e;
  color: #fff;
  border: 1px solid #10505e;
  width: 30%;
}

.send:hover {
  background-color: #0794c9;
  border: 1px solid #0794c9;
    /* color: #fff;
    background-color: #f50202;
    border-color: #f50202 */
}

.rating {
  direction: rtl;
  display: inline-block;
  cursor: default;
} 
  .rating:not(:checked) > input {
      position:absolute;
      top:0px;
  }
  .rating:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:18px;
      color:#ccc;
  }
  .rating:not(:checked) > label:before {
      content: '★ ';
  }
  .rating > input:checked ~ label {
      color: #ffc700;    
  }
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: #deb217;  
  }
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }



.badge {
  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
  margin-top: 4px
}

.check-icon {
  font-size: 17px;
  color: #c3bfbf;
  top: 1px;
  position: relative;
  margin-left: 3px
}

.form-check-input {
  margin-top: 6px;
  margin-left: -24px !important;
  cursor: pointer
}

.form-check-input:focus {
  box-shadow: none
}

.icons i {
  margin-left: 8px
}

.reply {
  margin-left: 12px
}

.reply small {
  color: #b7b4b4
}

.reply small:hover {
  color: #0794c9;
  cursor: pointer
}
.r-row{
  width: 95%;
}
.scroll-div1{
    width: 90%;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #fff;
}
/* recommended items */
.s-recommended{
  margin-top: 20px;
  background-color: #5B5B5B;
  text-align: center;
  color: #cefbf5;
  padding: 5px;
  width: 95%;
}